h1,
h2,
h3 {
  margin: 0;
}

ul,
li {
  list-style: none;
}

body {
  overflow: hidden;
}

.flex {
  display: flex;
}

.game-container {
  flex-direction: column;
  gap: 80px;
  height: 100vh;
  padding: 10px 0 10px 0;
  background-color: black;
  background-image:
    url(https://css-tricks.com/examples/StarryNightMoving/images/foreground.png),
    url(https://css-tricks.com/examples/StarryNightMoving/images/background.png);
  background-size: 500px, 300px;
  animation: linear sky 100s infinite;
}


.game-container-in {
  justify-content: center;
}

.moon-animation {
  margin: 20px auto;
  width: 200px;
  height: 200px;
  background: black;
  border-radius: 50%;
  animation: linear moon 18s infinite;
}

@keyframes moon {
  0% {
    box-shadow: -220px 0px 0 -1px #eee, -220px 0 40px #999;
    transform: translateX(220px);
  }

  100% {
    box-shadow: 220px 0px 0 -1px #eee, 220px 0 40px #999;
    transform: translateX(-220px);
  }
}

@keyframes sky {
  0% {
    background-position: 0 0, 900px 0;
  }

  100% {
    background-position: 200px -20px, 200px 20px;
  }
}


.modal-window {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.modal-window__title {
  text-align: center;
  color: #b7c3f9;
}

.cards-container {
  justify-content: center;
}

.cards {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 80%;
  padding-right: 0;
}

.card {
  min-width: 50px;
  min-height: 90px;
  background-color: aqua;

}

.card * {
visibility: hidden;
}



.display-none {
  display: none;
}
